NODE_ENV=development

POSTGRES_URL="postgresql://platform:platform@localhost:5432/platform?schema=public"

MONGODB_URL="mongodb://localhost:27017/platform"

REDIS_URL="redis://localhost:6379"

KAFKA_BROKER=localhost:9092

JWT_SECRET=replace_with_a_very_long_secret_at_least_32_characters
JWT_REFRESH_SECRET=replace_with_another_very_long_secret_at_least_32_characters

API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=4001